.picture{
  position: relative;
  width: 47%;
  min-height: 440px;
  background-color: #f3ffcf;
  float: left;
  margin: 2px;
  padding: 3px;

  overflow: hidden;
}
.picturePicture {
  position: absolute;
  height: 88%;
  margin: 4px 4px 0 4px;
  top: 0; left: 0; right: 0; 
}
.picturePicture img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.picture__Name{
  position: absolute;
  height: 12%;
  margin: 0 4px -4px 4px;
  padding: 2px;
  left: 0; right: 0; bottom: 0;
}
.picture h4{
  font-family: 'NarbutClassicRegular';
  text-align: top;
  font-size: 17px;
  margin-left: 11px;
}
.questions{
  font-size: 18px;
  width: 47%;
  margin: 2px;
  padding: 6px;
 
  float: left;
}
.questions h4{
  font-size: 17px;
  margin: 2px 2px 2px 11px;
}

.Auth {
   display: inline-block;
}

.topHeader {
  background: url(./../../images/bgHead.png) repeat-x top left;
  padding: 3.2em 0 0 0;
}
.logo {
  float:left;
}
.logo  a h1{
  font-size: 2.7em;
     font-size: 29px;
   margin-top: 10px;
  font-weight:400;
  color: #fff200;
   font-family: 'Arvo', serif;

  
}
.logo a h1 span{
  font-weight:400;
  color:#000;
}
.logo a{
 text-decoration:none;
}
.logo  a h1:hover{
  color: white; 
  {.logo  a h1 span{
  color: #fff200;};
  }
}
.logo  a h1:hover  span{
  color: #fff200;
}
.logo  a h1 span{
  color:#fff;
}
.logo  a h1 span:hover{
  color: #fff200;
}
.topMenuWide {
  position: relative;
  float: right;
  margin-top: 0.5em;
}
.topMenuWide ul{
  margin:0;
  padding:0;
}
.topMenuWide li {    
  text-transform:uppercase;
  display:inline-block;
    margin-right: 0.64em;
    font-size: 0.9em;
}
.topMenuWide li a, .topMenuNarrow li a{
  color:#FFFFFF;
  text-decoration:none;
  display:block;
  padding:0.5em;
  font-weight:400;
  font-size:1.1em;
} 
.topMenuWide li a.activeLink{
  color: #fff200;
  }
/* Effect 16: fall down */
.clEffect16 {
  overflow: hidden; 
  display: block;
}

.clEffect16 a {
  text-shadow: 0 0 1px rgba(111,134,134,0.3);
}
.clEffect16 a::before {
   color:#fff200;
  content: attr(data-hover);
  position: absolute;
  opacity: 0;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.clEffect16 a:hover::before,
.clEffect16 a:focus::before {
  -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  opacity: 1;
}
.members{
  box-sizing: border-box;
}
ul li h4{
      font-family: 'Arvo', serif;
}
.colMd5 .colMd4{
  margin: 0 auto;
}
 .memberGrid.imgResponsive{
    margin: 0 13px;
  }
  .classTime{
    min-height: 500px;
  }
  .sliderTop{
  text-align: left;
  width: 50%;
  position: relative;
  right: -50%;
  padding-top: 2%;
}
.sliderTop h2 {
    color: #fff200;
    font-size: 3em;
    padding-top: 5px;
    font-weight: 400;
  font-family: 'Arvo', serif;
}
.sliderTop p {
  width: 50%;
  color: #fff;
  font-size:0.9em;
  margin: 0.8em 0;
  line-height: 1.7em;
}
.sliderTop h6 {
  color:#C5C4C1;
  padding: 1px 10px;
  font-size: 1.5em;
  font-weight: 400;
  font-family: 'Arvo', serif;
}
.sliderTop  blockquote {
    padding: 10px  10px 0 10px;
    font-size: 14px;
}
.memberGridPicture .imgResponsive{
  width: 130px;
  margin: 0 90px;
}
  .addressLeft, .addressRight{
  background: #D0FFF7;
  padding: 17px 1px;
  margin: 4px;
  width: 98%;
}
@font-face {
font-family: 'Arvo Regular';
src: url('Arvo.eot');
src: url('Arvo.eot?#iefix') format('embedded-opentype'),
url('Arvo.woff') format('woff'),
url('Arvo.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
.addressRight{
  background: #0685A5;

}
.addressLeft:after, .addressRight:after {
  content: "";
  position: absolute;
  height: 100%;
}
.address:after {
  content: "";
  display: table;
  clear:  both;
}

.addressLeft h3,.addressRight h3{
  color:#003b64;
  font-size: 2.4em;
  font-weight: 500;
  margin-bottom: 0.4em;
  margin-left: 1em;
 
}
.addressRight h3{
  color:#fff200;
  font-size: 1.3em;
}

  /*Класс users для новостей на странице Home*/ 
  .arrowLeft{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1px;
    top: 50%;
     background: url(./../../images/arrowLeft.png) no-repeat 0px 0px;
  }
   .arrowRight{
    position: absolute;
    width: 30px;
    height: 40px;
    right: 1px;
    top: 50%;
    background: url(./../../images/arrowRight.png) no-repeat 0px 0px;
  }
.usersCenter{
  position: relative;
  width: 100%;
  margin-bottom: 30px;

}
  .users{
    position: relative;
    width: 100%;
    padding-top: 3px;
    margin: 0 auto;
    overflow: hidden;
       text-align: center;
       transition: all 600ms ease 0s;
}
.users h2{
    width: 49%;
    margin: 6px auto;
    letter-spacing: 0px;
    text-align: center;
    color: #111;
    border-bottom: 3px solid #8080A4;
}
.users h5{
    margin-top: 12px;
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -1.2px;
    text-align: center;
    color: #111;
}
.usersCard{
    width: 30%;
    height: 260px;
    margin-left: 3px;
    display: inline-block;
position: relative;
border: 1px solid #85A2A8;
    overflow: hidden;
   
    transition: all 1.2s ease-in-out;

}
.usersCardNews{
    width: 97%;
    height: 220px;
    margin-left: 3px;
    padding-top: 10px;
    display: inline-block;
position: relative;
border: 1px solid #85A2A8;
    overflow: hidden;
}
.usersCard:hover, .usersCardNews:hover{
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.usersPicture{
    width: 90%;
    height: 126px;
    margin: 15px;
    position: relative;   
}
.usersPictureNews{
    width: 28%;
    height: 220px;
    margin: 3px auto;
    float: left;   
}

.usersPicture img{
  position: absolute;
  height: 100%;
    margin: 9px auto;
    right: 0;  
    border: 1px solid none;
}
 .usersPictureNews img{
    max-width: 440px;
   height: 210px;
    margin: 9px auto;
    padding: 1px;
  }
.usersText{
    height: 90px;
    padding-left: 18px;
    padding-top: 7px;
    line-height: 22px;  
    text-align: left;
}
.usersTextNews{
    width: 60%;
    float: right;
    height: 90px;
    padding-left: 18px;
    padding-top: 7px;
    line-height: 22px;
   
}
.usersText h4, .usersTextNews h4{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
    line-height: 27px;
    color: #111;
}
.users__text-p{
    margin-top: 12px;
}
.usersDate{
  position: relative;
  top: -15px;
  float: left;
  margin: 2px;
  color: #746DFF;
  font-size: 16px;
  font-weight: 600;
}
.dropdownMenu{
      position:relative;    
    display: inline-block;
  }
.dropdownMenuContent{
    display: block;


    position: absolute;
   left: 15%;
    margin-right: 0%;
    overflow: hidden;
    background-color: #184664;
    z-index: 33;
  }
  .dropdownMenuContent a{  
    display: block;
    background-color: #184664;
    color: white;
    width: 100%;
    margin: 3px 0;
    text-decoration: none;
  }
  .dropdownMenuContent a:hover{
    background-color: yellow;
    color: #184664;
    margin: 4px 0;
  }
  .dropdownMenuContent a h4{  
    margin: 0 70px 0 8px;
    font-size: 0.9em;
    font-weight: 400;
    text-align: left;
  }
 /* .dropdownMenu:hover .dropdownMenuContent {
    display: block;
  }
  .dropdownMenu:hover button {
    background-color: pink
  }*/

@media only screen and (max-width : 1280px) {
  .topMenuWide{
    margin-top: 0.5em;
  }
  .usersCardNews{
    height: 200px;
}
.usersPictureNews{
    width: 26%;
    height: 190px;
}
.usersPictureNews img{
  max-width: 350px;
    height: 180px;
  }
.usersTextNews{
    width: 60%;
    float: right;
}
.usersPicture{
    height: 98px;
}
.usersText{
    height: 90px;
    padding-left: 12px;
    padding-top: 7px;
    line-height: 18px;
    text-align: left;
}

.usersDate{
  font-size: 14px;
  font-weight: 500;
}
}
@media only screen and (max-width : 1024px) {
  .topMenuWide{
    margin-top: 0.02em;
  }
  .logo h1{
    font-size: 2.0em;
  }
  .topMenuWide li{
    font-size: 0.9em;
  }
  .questions{
    font-size: 17px;
  }
 
.usersPicture{
    width: 57%;
    height: 112px;
    margin: 10px auto;
    position: relative;
    
}

.usersPicture img{
  position: absolute;
  height: 100%;
    margin: 9px auto;
    right: 0;  
    border: 1px solid none;
    
}
.usersText{
    height: 90px;
    padding-left: 22px;
    padding-top: 7px;
   text-align: left;
   
}
.usersText h4{
    font-size: 16px;
    line-height: 24px;
}
.imageContainer{
  height: 0;
  padding-top: 71%;
  position: relative;
  display: block;
}
.usersPicture .imageContainer{
  height: 0;
  padding-top: 71%;
  position: relative;
  display: block;
}
.imageContainer img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
}
}
@media only screen and (max-width : 992px) {
  .topMenuWide{
    margin-top: 0.3em;
  }
  .logo  a h1{
    margin-top: 2px;
    font-size: 19px;
  }
  .topMenuWide li{
    margin-right: 0.1em;
    font-size: 0.6em;
  }
  .dropdownMenuContent{
    display: block;
    position: absolute;
   left: 45%;
    margin-right: 0%;
    overflow: hidden;
    background-color: #184664;
    z-index: 33;
    border: 1px solid #415963;
  }
  .dropdownMenuContent a h4 {
    font-size: 0.7em;
  }
  .sliderTop{
    width: 37%;
    position: relative;
    right: -61%;
  }
  .sliderTop h2{
    margin-top: 1px;
    font-size: 18px;
  }
  .questions{
    font-size: 16px;
  }
  .usersCard{
    height: 170px;
}
  .usersPicture{
    width: 44%;
    height: 80px;
    margin: 12px auto;
}
.usersPicture img{
  position: absolute;
  height: 100%;
    margin: 9px auto;
    right: 0;  
    border: 1px solid none;
}
.usersText{
    height: 80px;
    padding-left: 9px;
    padding-top: 0;
    line-height: 16px;
}
.usersText h4{
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}
.usersText p{
    font-size: 12px;
}
.usersDate{
  font-size: 10px;
}
 .usersCardNews{
    height: 174px;
}

.addressRight ul li{
  font-size: .6em;
}
}
/*@media (max-width:840px){
  .logo a h1 {
    margin-top: 4px;
      font-size: 19px;
  }
  .topMenuWide li{
    font-size: 0.7em;
  }
  .sliderTop{
    width: 37%;
    position: relative;
    right: -61%;
  }
  .sliderTop h2{
    font-size: 1.5em;
  }
}
*/
@media only screen and (max-width : 768px) {
   .picture, .questions {width: 96%; min-height: 288px;}
  span.menu {
    width: 35px;
    height: 35px;
    background: url(./../../images/nav.png)no-repeat 0px 0px;
    display: inline-block;
    float: right;
    cursor: pointer;
      margin:14px 3px;
  }
  .topMenuWide ul{
    display: none;
  }
  .topMenuNarrow {
    float: none;
    margin-top: 0em;
  }
  .topMenuNarrow  ul{
    display:block;
  }
  .topMenuNarrow  ul li {
    display:block;
    margin-right:0;
  }
  .topMenuNarrow  span.menu{
    display:block;
  }
  .topMenuNarrow  ul{
    margin: 60px 0;
    padding: 2% 0;
    z-index: 999;
    position: absolute;
    width: 96%;
    background: rgba(2, 50, 84, 0.88);
    text-align: center;
  }
  .logo {
    margin-top: -26px;
    margin-left: 0.6em;
    width: 80%;
  }
   .logo h1 {
    font-size: 14px;
  }
  .topMenuNarrow ul li a {
    font-size: 1.0em;
  }
.usersCard{
    height: 170px;
}
.usersPicture{
    height: 70px;
}
.usersText{
    height: 70px;
    padding-left: 12px;
    padding-top: 4px;
    line-height: 16px;
}
.usersText h4{
    font-size: 14px;
}
.usersText p{
    font-size: 12px;
}
.usersDate{
  font-size: 10px;
}
 .usersCardNews{
    height: 150px;
}

}
@media screen and (max-width: 640px) {
.usersCard{
    height: 106px;
}
.usersPicture{
    height: 45px;
}
.usersText{
    height: 80px;
    padding-left: 22px;
    padding-top: 7px;
    line-height: 20px;
}
.usersText h4{
    font-size: 10px;
    font-weight: 600;
    line-height: 13px;
}
.usersText p{
    display: none;
}
.usersDate{
  font-size: 9px;
}
.usersCardNews{
    height: 110px;
}


  /*Класс users для новостей на странице Home*/  
.users h2{
    font-size: 20px;
}
.users h5{
  width: 180px;
  margin-top: 16px;
  margin-bottom: 26px;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.4px;
  text-align: center;
  color: black;
}
.users img{
  width: 71px;
  max-height: 71px;
  margin-top: 0px;
  margin-left: 0px; 
  border: 1px solid none;
  border-radius: 110px; 
}
 .arrowLeft,  .arrowRight{
    top: 65%;
    z-index: 2;
  }
}
/*--- slider-css --*/
.header{
  background:url(./../../images/bg.jpg);
    background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  min-height:800px;
}
.rslides {
  position: relative;
  list-style: none;
 
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
 

/*----slide-bottom-section----*/
 /* .slideBottom{
      padding: 1em 0;
  }*/
  .slideBottomGrid h3 {
  
    font-size: 2em;
    font-weight: 400;
  }
  .slideBottomGrid p {
  
    font-weight: 400;
    font-size: 0.9em;
    margin: 0.5em 0;
    line-height: 1.7em;
    }
  .slideBottomGrid {
    color: #003b64;
    padding: 0 0 0 27px;
    border-left: 6px solid #fff200;
  }
/*--services--*/
.iconText p {
  text-align: left;
}
.icon {
  float: left;
  width: 13%;
  margin-right: 1%;
}
.iconText {
  float: left;
  width:76%;
  margin-top: 0.8em;
}
.serviceSectionGrid {
  margin-bottom: 0.7em;
  /*padding: 5em 5em 5em 13em;*/
}
.iconText:hover{
  background-color: #EEFFCC;
}
i.book,i.award,i.time,i.pencil {
  width:60px;
  height:60px;
  background: url('./../../images/imgSpt.png') no-repeat 0px 0px;
  display:inline-block;
}
i.pencil{
   background: url('./../../images/imgSpt.png') no-repeat -60px 0px;
}
i.award{
  background: url('./../../images/imgSpt.png') no-repeat -120px 0px;
}
.serviceSectionHead h3 {
  color:#394b50;
  font-size:2.2em;
  font-weight:900;
  text-transform:uppercase;
}
.serviceSectionHead p {
  color:#394b50;
  font-size:1.2em;
  font-weight:500;
}
.serviceSectionGrid h4 {
  color:#003b64;
  font-size: 1.2em;
    font-weight: 600;
  margin-bottom: 0.7em;
  text-transform: uppercase;
}
.serviceSectionGrid p {
   color: #34495E;
  font-weight: 400;
  font-size: 0.9em;
  margin: 0.5em 0;
  line-height: 1.7em;
}
.serviceText {
  float: right;
  background: url(./../../images/act.jpg) no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 696px;
}                                 

/*----about------*/
.topHeader.two {
   padding: 2.8em 0 0 0;
}
.aboutSection {
  padding: 4em 0;
}
.header.two{
   background: url("./../../images/aboutBg.jpg") no-repeat 0px 0px;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -webkit-background-size: cover;
   min-height: 122px;
}
.memberSection {
  background: #F4F4F4;
  padding: 4em 0 5em 0;
}
.memberGrid h5 {
  color: #fff;
  text-align: center;
  padding: 0.6em;
  background-color: #333;
  font-size: 1.1em;
    text-transform: uppercase;
}
.memberGrid .memberGridPicture{
  width:100%;
  margin: 10px -13px;
}
.imgResponsive{
  
  margin: 0 65px;
}
.memberGrid p {
  color: #34495E;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.7em;
  padding:2em;
  border:1px solid #34495E;
}

@media only screen and (max-width:480px) {
.sap_tabs{
  padding-top:0;
}
.resp-tabs-container{
  padding:10px;
}
ul.resp-tabs-list {
    display: none;
}
h2.resp-accordion {
    display: block;
}
.resp-vtabs .resp-tab-content {
    border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}
.resp-accordion-closed {
  display: none !important;
}
.sliderTop blockquote{
  margin-bottom: 5px;
}
}
ul.tab_list{
  list-style: none;
  padding:0em;
  margin:0;
  text-align: left;
}
ul.tab_list li {
  margin-bottom: 0px;
}
ul.tab_list li a {
  color: #34495E;
  font-weight: 400;
  font-size: 0.9em;
  margin: 0.5em 0;
  line-height: 1.7em;
}
ul.tab_list li a:hover {
  color:none;
}
.resp-tab-active span {
}
.serveHead,.newsHead,.cultureHead{
 text-align:left;
   padding: 0 0 0 27px;
   border-left: 6px solid #fff200;
}
/*-----gallery---------*/
.galleryHead{
  text-align: left;
  padding: 0 0 0 27px;
  border-left: 6px solid #fff200;
}
.colMd4.galleryLeft.two {
  padding: 0;
  margin: 0;
}
a.mask {
  text-decoration: none;
  overflow: hidden;
  display: block;
}
img.zoomImg:hover {
  -webkit-transform: scale(1.15);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 750ms;
  -moz-transform: scale(1.15);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 750ms;
  overflow: hidden;
}
i.arrow{
    background: url(./../../images/imgSprite.png)no-repeat -120px -1px;
    width: 16px;
    height: 16px;
    display: inline-block;
    float: right;
  }

.men{ 
  background:#12507B;
  float: left;
  width: 9%;
  text-align: center;
  padding: 2em 0;
}

.singleTop {
  margin-top: 1em;
}
/*-----contact---------*/

.map {
  padding-top: 4em;
}
.conText h4 {
  color: #34495E;
   font-weight:400;
  font-size:1.2em;
  line-height: 1.7em;
  text-transform:uppercase;
  font-family: 'Arvo', serif;
}
.conText p {
    color: #34495E;
  font-weight: 400;
  font-size: 0.9em;
  margin: 0.3em 0;
  line-height: 1.3em;
}
.contactHead {
  text-align: left;
  padding: 0 0 0 27px;
  border-left: 6px solid #fff200;
}
.contactHead  h3 {
  color: #003b64;
  font-size: 3em;
    font-family: 'Arvo', serif;
}
.contactHead p {
  color: #34495E;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.7em;
  margin-bottom: 2em;
}
.conIcon {
  float: left;
  width: 19%;
  margin-right: 1%;
}
.conText {
  float: left;
  width:76%;
}

/*--address--*/
.address{
    background:#003b64;
}
.companyAdout{
  text-align:left;
}
.products{
  text-align:left;
}
.products{
  width:100%;
  float:left;
}
.companyAbout{
  width:40%;
  float:left;
}

/*-----Responsive-----*/
@media (max-width:1600px){
.callbacks_tabs {
    bottom: 14%;
  z-index: 0;
  left: 53%;
}
}
@media (max-width:1440px){

  .header {
    background: url("./../../images/bg.jpg") no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 700px;
  }
  
  .slideBottomGrid h3 {
    font-size: 2em;
    color: #003b64;
    }
    .bannerText {
    position: absolute;
    top: 36%;
    left: 57%;
  }
  .sliderBg p {
    width: 86%;
    font-size: 1em;
    margin: 0.8em 0;
  }
    .serveHead h3,.newsHead h3,.cultureHead h3 ,.historyHead h3,.contactHead h3,.aboutHead h3, .memberHead h3 {
      font-size: 2.8em;
    }
    .galleryHead h3{
    font-size: 3.2em;
    }
    .icon {
    width: 13%;
    margin-right: 1%;
  }
  .serviceText {
    float: right;
     background: url(./../../images/act.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     min-height: 743px;
  }
 
}
@media (max-width:1366px){
  .header {
    background: url("./../../images/bg.jpg") no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 662px;
  }
  .logo a h1 {
    font-size: 29px;
    }
  .serviceText {
    float: right;
    background: url(./../../images/act.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
      min-height: 673px;
  }
  .textbox h4 {
    font-size: 1.5em;
    text-align: center;
    padding-top: 3.5em;
  }
  .sliderTop {
    width: 50%;
    position: relative;
    right: -53%;
    padding-top: 2%;
  }
}
@media (max-width:1280px){
  .header {
    background: url("./../../images/bg.jpg") no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 608px;
  }
  .sliderTop{
    width: 47%;
    right: -54%;
  }
  .sliderTop h2{
   font-size: 2em;
  }
  .sliderBg p {
    width: 93%;
    font-size: 1em;
    margin: 0.8em 0;
  }
  .logo a h1 {
    font-size: 26px;
  }
  .slideBottomGrid h3 {
    font-size: 1.7em;
    color: #003b64;
  }
  .serveHead h3, .newsHead h3,.galleryHead h3 ,.cultureHead h3, .historyHead h3, .contactHead h3, .aboutHead h3, .memberHead h3 {
      font-size: 2.7em;
  }
  .serviceSectionGrid h4 {
    font-size: 1em;
    margin-bottom: 0.5em;
  }
  .serviceText {
    float: right;
     background: url(./../../images/act.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
      min-height: 619px;
  }
  .addressRight h3,.products h3, .companyAdout h3  {
    font-size: 2.0em;
    }

  .conText h4 {
    font-size: 1.1em;
    }
}
@media (max-width:1024px){
  .header {
    background: url("./../../images/bg.jpg") no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 508px;
  }
  .sliderTop h2 {
    font-size: 1.8em;
    }
    .sliderTop p {
  width: 67%;
  font-size: 0.8em;
  margin: 0.8em 0;
  }
  .sliderTop {
   width: 40%;
    position: relative;
    right: -60%;
    padding-top: 7%;
  }
  .logo a h1 {
    font-size: 23px;
    margin-top: 2px;
  }
  .callbacks_tabs {
    bottom: 17%;
    left: 53%;
  }
  .slideBottomGrid {
    color: #003b64;
    padding: 0 0 0 27px;
    border-left: transparent;
  }
  .slideBottomGrid h3 {
     font-size: 1.6em;
  }

  .serviceSectionGrid p {
    color: #34495E;
    font-size: 0.85em;
    margin: 0.5em 0;
    }
    .icon {
    width: 15%;
    margin-right: 1%;
  }
  .serviceSectionGrid {
    padding: 0em 0em 1em 0em;
  }
  .serviceText {
    float: right;
    background: url(./../../images/act.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     min-height: 669px;
  }
  .cultureSection {
    padding: 3em 0 1em 0;
  }
  .midBg {
    background: url("./../../images/midBg.jpg") no-repeat 0px 0px;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    min-height: 473px;
  }
  .addressRight h3, .products h3, .companyAdout h3 {
    font-size: 1.4em;
  }
  .header.two{
    background: url("./../../images/aboutBg.jpg") no-repeat 0px 0px;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    min-height: 123px;
  }
  .headerTop.two {
    padding: 2.1em 0 0 0;
  }
 
  .callbacks_nav.next {
    left: auto;
    background-position: right top;
    left: 321px;
  }
  .callbacks_nav {
    top: 42%;
    }
    .aboutText p, .aboutText span {
    color: #34495E;
    font-size: 0.85em;
    margin: 0.5em 0;
  }
  .aboutSection {
    padding: 3em 0;
  }
  .memberGrids p {
    font-size: 0.85em;
    padding: 1em;
  }
   
  .contact {
    padding: 2em 0 0 0;
  }
  .conText h4 {
    font-size: 1em;
    }
    .conText p {
     font-size: 0.85em;
    }
    .newsSection {
    padding: 3em 0;
  }
 
  .serveHead h3, .newsHead h3, .galleryHead h3, .cultureHead h3, .historyHead h3, .contactHead h3, .aboutHead h3, .memberHead h3 {
    font-size: 2.5em;
  }
  .topComments {
    padding: 1em 0 0;
  }

}
@media (max-width:992px){
  .logo a h1 {
    margin-top: 4px;
    font-size: 21px;
  }
   .addressLeft h3 {
    font-size: 1.7em;
  }
  .addressRight ul{
    padding-inline-start: 4px;
}
}

@media (max-width:768px){
  .topMenuNarrow{
    display: block;
  }
  .topMenuNarrow ul {
    margin: 60px 0;
    padding: 2% 0;
    z-index: 999;
    position: absolute;
    width: 96%;
    background: rgba(2, 50, 84, 0.88);
    text-align: center;
}
  .header {
    background: url("./../../images/bg.jpg") no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 397px;
      background-size:100% 100%;
    -o-background-size:100% 100%;
    -moz-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    -ms-background-size:100% 100%;
  }
  .single h2 {
    font-size: 1.4em;
  }
  .men {
    width: 9%;
    padding: 3em 0;
  }
  /*.logo a h1 {
    font-size: 2em;
     margin-top: 3px;
  }*/
  .news {
    padding-top: 1em;
  }
  .slideBottomGrid {
   color: #003b64;
    border-left: 6px solid #fff200;
    width: 98%;
    float: left;
    margin-right: 1%;
  }
  .addressLeft h3 {
    font-size: 1.4em;
  }
    .leave {
    padding: 1em 0 0em;
  }
    .sliderTop p {
    width: 70%;
    font-size: 0.85em;
    margin: 0.5em 0;
    overflow: hidden;
    height: 72px;
  }
  .serviceText {
    float: none;
    background: url(./../../images/act.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 479px;
  }
  .serviceSectionGrid h4 {
    font-size: 1em;
    margin-bottom: 0.5em;
    text-align: center;
  }
  .serviceSectionGrid p {
    color: #34495E;
    font-size: 0.85em;
    margin: 0.5em auto;
    text-align: center;
    width: 67%;
  }
  .serviceSectionGrid {
    padding: 3em 0em 3em 0em;
  }
  .serviceSectionGrid {
    margin-bottom: 0.7em;
    text-align: center;
  }
  .midSection h3 {
    font-size: 2em;
  }
  .testRight01.test1:nth-child(3){
   display:none;
  }
  .sliderTop h6 {
  font-size: 1.2em;
    }
  .topHeader.two {
      padding: 2em 0 0 0;
  }
  .header.two {
      background: url("./../../images/aboutBg.jpg") no-repeat 0px 0px;
      background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -ms-background-size: cover;
      -webkit-background-size: cover;
       min-height: 87px;
      background-size: 100% 100%;
  }
  .history {
    padding: 3em 0;
  }
  .history-text-grid {
    margin-top: 2em;
  }
  lable.one {
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 1%;
    color: #fff;
    padding: 14px 1px 0px 18px;
    margin-top: 0.4%;
    }
  .sliderTop {
    width: 52%;
    position: relative;
    right: -49%;
    padding-top: 1%;
  }
  .slideBottomGrid h3 {
    font-size: 1.8em;
  }

}
@media (max-width:640px){
  .sliderTop {
    width: 50%;
    position: relative;
    right: -49%;
    padding-top: 1%;
  }
  .sliderTop h2 {
     font-size: 1.4em;
  }
  .topMenuNarrow ul {
    margin: 58px 0;
    padding: 4% 0;
    width: 96%;
  }
   .header {
    background: url("./../../images/bg.jpg") no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 332px;
      background-size:100% 100%;
    -o-background-size:100% 100%;
    -moz-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    -ms-background-size:100% 100%;
  }
  .callbacks_tabs {
    bottom: 17%;
    left: 41%;
  }
  .slideBottomGrid h3 {
    font-size: 1.7em;
  }
  .serviceSectionGrid p {
    color: #34495E;
    font-size: 0.85em;
    margin: 0.5em auto;
    text-align: center;
    width: 78%;
  }
  .products {
    width: 50%;
    float: left;
  }
  .textbox h4 {
    font-size: 1em;;
    padding-top: 3.3em;
  }
  span.menu {
    background: url(./../../images/nav.png)no-repeat 0px 0px;
    margin: 10px 3px;
  }
  .textbox p {
    font-size: 0.8em;
    padding-top: 4.5em;
  }
  .h4.colMd4.date {
    float: left;
    width: 18%;
  }
  .serviceText {
    float: none;
    background: url(./../../images/act.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
   -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 364px;
  }
  .cultureGrids p {
    font-size: 0.85em;
    padding: 1em;
  }
  .addressLeft h3 {
    font-size: 1.2em;
  }
  .midBg {
    background: url("./../../images/midBg.jpg") no-repeat 0px 0px;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    min-height: 328px;
  }
  .midSection {
    padding-top: 5em;
  }
  .contactText {
    float: none;
    width: 100%;
  }
  .conIcon {
    float: left;
    width: 15%;
    margin-right: 1%;
  }
  p.colMd8.news {
     width: 50%;
    float: left;
  }
  .contactHead p,.galleryHead p,.historyHead p ,.aboutHead p, .memberHead p,ul.tab_list li a ,.slideBottom-Grid p,.cultureGrids p ,.conText p{
    font-size: 0.85em;
    }
    .addressRight p {
    font-size: 0.85em;
  }
}

@media (max-width:480px){
    .logo a h1 {
    font-size: 1.1em;
    margin-top: 13px;
  }
 /* .sliderTop p {
    width: 70%;
    font-size: 0.8em;
    margin: 0.3em 0;
    overflow: hidden;
    height: 42px;
  }*/
  .sliderTop h2 {
    font-size: 1.0em;
  }
  .sliderTop h6 {
    font-size: 1.1em;
  }
  .topHeader {
    background: url(./../../images/bgHead.png) repeat-x top left;
    padding: 2em 0 0 0;
  }
 /* .men {
    width: 12%;
    padding: 3.2em 0;
  }
  .singleUs {
    padding: 0 0em 0 0;
  }
  .single h2 {
    font-size: 1.1em;
  }*/
  .header {
    background: url("./../../images/bg.jpg") no-repeat 0px 0px;
    background-size:100% 100%;
    -o-background-size:100% 100%;
    -moz-background-size:100% 100%;
    -webkit-background-size:100% 100%;
    -ms-background-size:100% 100%;
    min-height: 240px;
    }
    .rslides li {
    left: 0;
    top: -21px;
  }
  .sliderTop {
    width: 49%;
    position: relative;
    right: -49%;
     padding-top: 2%;
  }
  .slideBottomGrid {
    padding: 0 0 0 27px;
    border-left: 6px solid #fff200;
    width: 100%;
    float: left;
    margin-bottom: 3%;
  }
  /*.slideBottom {
    padding: 2em 0;
  }*/
  .serveHead h3, .newsHead h3,.galleryHead h3, .cultureHead h3, .historyHead h3, .contactHead h3, .aboutHead h3, .memberHead h3 {
    font-size:1.8em;
  }
  .serviceSectionGrid p {
    font-size: 0.8em;
    margin: 0.5em auto;
    text-align: center;
    width: 95%;
  }
  .serviceText {
    float: none;
    background: url(./../../images/act.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 262px;
  }
  .addressRight h3, .products h3, .companyAdout h3 {
    font-size: 1.8em;
  }
 
  .header.two {
    background: url("./../../images/aboutBg.jpg") no-repeat 0px 0px;
    min-height:90px;
    background-size: 100% 100%;
  }
  .callbacks_nav.next {
    left: auto;
    background-position: right top;
    left: 364px;
  }
  .aboutText {
    float: none;
    padding-top: 0em;
    width: 100%;
  }
 /* .memberGrid {
    float: left;
    width: 100%;
    margin:1px 13px;
  }
   .memberGrid .imgResponsive{
      margin: 0 15px;
   }
  .memberGrid:nth-child(3){
    display:block;
    }
  .history-faq-grid h4, .history-text-grid h4 {
    font-size: 2em;
  }*/
  .conIcon {
    float: left;
    width: 15%;
    margin-right: 1%;
  }
  .map iframe {
    height: 250px;
  }
  .topMenu ul {
    margin: 58px 0;
    padding: 1% 0;
    width: 93%;
  }
  .addressLeft{
    padding: 0 2px 9px 0;
  }
  /*.gallery {
    padding: 1em 0 1em 0;
  }
  .leave input[type="submit"] {
    font-size: 1em;
    width: 33%;
    margin: 0.2em 0em 1em;
  }
  p.menIt {
    padding: 0.9em 0;
  }
  .singleGrid {
    padding: 0.3em 0;
  }
  .topSingle {
    padding: 1em 0;
  }
  i.arrow {
    background: url(./../../images/imgSprite.png)no-repeat -115px -10px;
    margin-top: 0.5em;
  }*/
}

@media (min-width: 1200px) {
  .container {
    width: 1199px;
  }
}
.containerFluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.colXs1, .colSm1, .colMd1, .colLg1, .colXs2, .colSm2, .colMd2, .colLg2, .colXs3, .colSm3, .colMd3, .colLg3, .colXs4, .colSm4, .colMd4, .colLg4, .colXs5, .colSm5, .colMd5, .colLg5, .colXs6, .colSm6, .colMd6, .colLg6, .colXs7, .colSm7, .colMd7, .colLg7, .colXs8, .colSm8, .colMd8, .colLg8, .colXs9, .colSm9, .colMd9, .colLg9, .colXs10, .colSm10, .colMd10, .colLg10, .colXs11, .colSm11, .colMd11, .colLg11, .colXs12, .colSm12, .colMd12, .colLg12 {
  position: relative;

  padding-right: 15px;
  padding-left: 15px;
}
.colXs1, .colXs2, .colXs3, .colXs4, .colXs5, .colXs6, .colXs7, .colXs8, .colXs9, .colXs10, .colXs11, .colXs12 {
  float: left;
}
.colXs12 {
  width: 100%;
}
.colXs11 {
  width: 91.66666667%;
}
.colXs10 {
  width: 83.33333333%;
}
.colXs9 {
  width: 75%;
}
.colXs8 {
  width: 66.66666667%;
}
.colXs7 {
  width: 58.33333333%;
}
.colXs6 {
  width: 50%;
}
.colXs5 {
  width: 41.66666667%;
}
.colXs4 {
  width: 33.33333333%;
}
.colXs3 {
  width: 25%;
}
.colXs2 {
  width: 16.66666667%;
}
.colXs1 {
  width: 8.33333333%;
}

@media (min-width: 768px) {
  .colSm1, .colSm2, .colSm3, .colSm4, .colSm5, .colSm6, .colSm7, .colSm8, .colSm9, .colSm10, .colSm11, .colSm12 {
    float: left;
  }
  .colSm12 {
    width: 100%;
  }
  .colSm11 {
    width: 91.66666667%;
  }
  .colSm10 {
    width: 83.33333333%;
  }
  .colSm9 {
    width: 75%;
  }
  .colSm8 {
    width: 66.66666667%;
  }
  .colSm7 {
    width: 58.33333333%;
  }
  .colSm6 {
    width: 50%;
  }
  .colSm5 {
    width: 41.66666667%;
  }
  .colSm4 {
    width: 33.33333333%;
  }
  .colSm3 {
    width: 25%;
  }
  .colSm2 {
    width: 16.66666667%;
  }
  .colSm1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .colMd1, .colMd2, .colMd3, .colMd4, .colMd5, .colMd6, .colMd7, .colMd8, .colMd9, .colMd10, .colMd11, .colMd12 {
    float: left;
  }
  .colMd12 {
    width: 100%;
  }
  .colMd11 {
    width: 91%;
  }
  .colMd10 {
    width: 83%;
  }
  .colMd9 {
    width: 75%;
  }
  .colMd8 {
    width: 66%;
  }
  .colMd7 {
    width: 57%;
  }
  .colMd6 {
    width: 50%;
  }
  .colMd5 {
    width: 41%;
  }
  .colMd4 {
    width: 33%;
  }
  .colMd3 {
    width: 25%;
  }
  .colMd2 {
    width: 16%;
  }
  .colMd1 {
    width: 8%;
  }
  /*.colMdPull12 {
    right: 100%;
  }
  .colMdPull11 {
    right: 91%;
  }
  .colMdPull10 {
    right: 83%;
  }
  .colMdPull9 {
    right: 75%;
  }
  .colMdPull8 {
    right: 66%;
  }
  .colMdPull7 {
    right: 58%;
  }
  .colMdPull6 {
    right: 50%;
  }
  .colMdPull5 {
    right: 41%;
  }
  .colMdPull4 {
    right: 33%;
  }
  .colMdPull3 {
    right: 25%;
  }
  .colMdPull2 {
    right: 16%;
  }
  .colMdPull1 {
    right: 8%;
  }
  .colMdPull0 {
    right: 0;
  }
  .colMdPush12 {
    left: 100%;
  }
  .colMdPush11 {
    left: 91%;
  }
  .colMdPush10 {
    left: 83%;
  }
  .colMdPush9 {
    left: 75%;
  }
  .colMdPush8 {
    left: 66%;
  }
  .colMdPush7 {
    left: 58%;
  }
  .colMdPush6 {
    left: 50%;
  }
  .colMdPush5 {
    left: 417%;
  }
  .colMdPush4 {
    left: 33%;
  }
  .colMdPush3 {
    left: 25%;
  }
  .colMdPush2 {
    left: 16%;
  }
  .colMdPush1 {
    left: 8%;
  }
  .colMdPush0 {
    left: 0;
  }*/
}
.container{
    padding: 2px;
    margin-right: auto;
    margin-left: auto;
}
.clearfix {
  box-sizing: border-box;
}
@media screen and (max-width: 700px) {
  body{ background: linear-gradient(white, #a9f5f2, white, #a9f5f2, white);}
  .picture, .questions {width: 96%; min-height: 288px;}
  li  { max-height: 32px; margin: 2px}
  .beginning, .ending {width: 76%;}
  .beginning p{font-size: 1.0em;}
  .stro__Answer{font-size: 9px; padding: 1px;}
  .stro__i{font-size: 1.2em; padding: 1px;}
}
