
.wrapper{
    position: relative;
    background: #ffffff;
    min-height: 200%;
    min-width: 400px;
    max-width: 1200px;
    padding: 3px;
    padding-right: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.textBlock{
    overflow: hidden;
    color:#4a4a4a;
    font-size: 18px;
    line-height: 24px;
    min-height: 200px;
    /* background: url("../images/hr.png") left bottom repeat-x;  */
    padding: 10px 40px 10px;
}
.textBlock p{
    margin-bottom: 24px;
    text-indent: 2em;
}
.textBlock .autoImg{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}


@media (max-width:1024px){
 .textBlock{
  font-size: 16px;
 }
}

@media screen and (max-width:768px){
  .wrapper{
    padding: 20px;
  }
  .textBlock h2{
    font-size: 22px;
    margin: 5px;
  }
  .textBlock{
    font-size: 13px;
  }
}

@media (max-width:600px){
 .textBlock{
  font-size: 12px;
 }
}