/*--error--*/
.error {
  padding:4em 0;
}
.error-top {
  text-align: center;
  margin: 5em 0;
}
.error-top h3{
  font-size: 11em;
  font-weight: 600;
  margin: 0;
  color: #12507B;
}
.error-top h3 span {
   font-size: 0.1em;
  color: #12507B;
  font-weight: 400;
}
.error-top p{
  font-size:4em;
  font-weight: 400;
  color: #fff200;
  font-family: 'Arvo', serif;
}
.error-btn{
  margin-top:5em;
}
.error-btn a {
  color: #fff200;
  background: #12507B;
  border: none;
  letter-spacing: 1px;
  font-size: 1em;
  outline: none;
  padding: 15px 37px;
   border-radius: 0.3em;
   -o-border-radius: 0.3em;
   -moz-border-radius: 0.3em;
   -webkit-border-radius: 0.3em;
   -ms-border-radius: 0.3em;
}
.error-btn a:hover{
     background: #fff200;
  color: #12507B;
}


.wrapper{
    position: relative;
    background: #ffffff;
    min-height: 200%;
    min-width: 400px;
    max-width: 1200px;
    padding: 3px;
    padding-right: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.wrapper a{
    color:#576a6f;
}
.wrapper a:hover{
    color:#1d282b;
}
.text_block{
    overflow: hidden;
    color:#4a4a4a;
    font-size: 18px;
    line-height: 24px;
    min-height: 200px;
    /* background: url("../images/hr.png") left bottom repeat-x;  */
    padding: 10px 40px 10px;
}
p{
    margin-bottom: 24px;
    text-indent: 2em;
}
.cent_img{
    display: block;
    margin: 0 auto 40px;
}
.auto_img{
    display: block;
    max-width: 100%;
    margin: 0 auto 24px;
}
.year{
    font-weight: 700;
    padding-left: 3px;
    color: #ff6a00;

}
h4{
  margin: 5px 0;
}
ul{
  margin: 0;
}
ul li{
  list-style-type: none;
}


@media (max-width:1024px){
 
    .error-top p {
    font-size: 3em;
    }
    .error-top  h3 {
    font-size: 10em;
    }
    .error-btn a {
    font-size: 1em;
    padding: 15px 25px;
  }
}

@media screen and (max-width:800px){
   
    .wrapper{
        padding: 50px;
    }
    ul li{
 font-size: 0.7em;
    }
}

@media (max-width:320px){
  .errorTop h3 {
    font-size: 7em;
  }
  .error-top p {
    font-size: 1.8em;
  }
  .error-btn a {
    font-size: 1em;
    padding: 13px 14px;
  }
  .error-top {
    margin: 3em 0;
  }
}