
.wrapper{
    position: relative;
    background: #ffffff;
    min-height: 200%;
    min-width: 400px;
    max-width: 1200px;
    padding: 3px;
    padding-right: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.wrapper a{
    color:#576a6f;
}
.wrapper a:hover{
    color:#1d282b;
}
.auto_img{
    display: block;
    max-width: 100%;
    margin: 0 auto 24px;
}

/*
.auto_img  img {
  left: 0;
  right: 0;
}*/
.text_block{
    overflow: hidden;
    color:#4a4a4a;
    font-size: 13px;
    line-height: 24px;
    min-height: 200px;
    /* background: url("../images/hr.png") left bottom repeat-x;  */
    padding: 10px 40px 10px;
}
.text_block h2{
    text-align: center;
}
p{
    margin-bottom: 24px;
    text-indent: 2em;
}
.cent_img{
    display: block;
    margin: 0 auto 40px;
}
.autoImg{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.year{
    font-weight: 700;
    padding-left: 3px;
    color: #ff6a00;

}
h4{
  margin: 5px 0;
}
ul{
  margin: 0;
}
ol li{
  list-style-type: circle;
}


@media (max-width:1024px){
 
    .error-top p {
    font-size: 3em;
    }
    .error-top  h3 {
    font-size: 10em;
    }
    .error-btn a {
    font-size: 1em;
    padding: 15px 25px;
  }
}

@media screen and (max-width:800px){
 
    .wrapper{
        padding: 4px;
    }
    .aboutFoto img{
    max-width: 80%;
    left: 0;
    right: 0;
  }
  .text_block{
   
    padding: 10px 15px 10px;
}
 .text_block h2{
    font-size: 19px;
    font-weight: 600;
} 
  ol li{
        margin: 10px;
   font-size: 10px;
    line-height: 10px;
}
}

@media (max-width:320px){
  .errorTop h3 {
    font-size: 7em;
  }
  .error-top p {
    font-size: 1.8em;
  }
  .error-btn a {
    font-size: 1em;
    padding: 13px 14px;
  }
  .error-top {
    margin: 3em 0;
  }
}