/*
.wrapper{
    position: relative;
    background: #ffffff;
    min-height: 200%;
    min-width: 400px;
    max-width: 1200px;
    padding: 3px;
    padding-right: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.textBlock{
    overflow: hidden;
    color:#4a4a4a;
    font-size: 18px;
    line-height: 24px;
    min-height: 200px;*/
    /* background: url("../images/hr.png") left bottom repeat-x;  */
   /* padding: 10px 40px 10px;
}
.textBlock p{
    margin-bottom: 10px;
    text-indent: 2em;
}
.textBlock .autoImg{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
.cent_img{
    display: block;
    margin: 0 auto 40px;
}
.auto_img{
    display: block;
    max-width: 100%;
    margin: 0 auto 24px;
}
.year{
    font-weight: 700;
    padding-left: 3px;
    color: #ff6a00;

}
h4{
  margin: 5px 0;
}
ul{
  margin: 0;
}
ul li{
  list-style-type: none;
}


@media (max-width:1024px){
 .textBlock{
  font-size: 16px;
 }
}

@media screen and (max-width:800px){
  .wrapper{
    padding: 20px;
  }
  .textBlock h2{
    font-size: 22px;
    margin: 5px;
  }
  .textBlock{
    font-size: 13px;
  }
  .textBlock li p{
    margin-bottom: 2px;
    font-size: 10px;
    line-height: 14px;
}
}

@media (max-width:600px){
 .textBlock{
  font-size: 12px;
 }
}*/