
.map {
  padding-top: 4em;
}
.contGridNew{
  display: inline-block;
  width: 30%;
  float: left;
}
.conText h4 {
  color: #34495E;
   font-weight:400;
  font-size:1.5em;
  line-height: 1.7em;
  text-transform:uppercase;
  font-family: 'Arvo', serif;
}
.conText p {
    color: #34495E;
  font-weight: 400;
  font-size: 1em;
  margin: 0.3em 0;
  line-height: 1.3em;
}
.contactHead {
  text-align: left;
  padding: 0 0 0 27px;
  border-left: 6px solid #fff200;
}
.contactHead  h3 {
  color: #003b64;
  font-size: 3em;
    font-family: 'Arvo', serif;
}
.contactHead p {
  color: #34495E;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.7em;
  margin-bottom: 2em;
}
.conIcon {
  float: left;
  width: 19%;
  margin-right: 1%;
  padding: 1px 0;
}
.conText {
  float: left;
  width:76%;
    padding: 1px 0;
}
.contactForm {
  float: right;
}
i.post,i.email,i.phone{
    width: 45px;
  height: 45px;
   background: url('./../../images/post.png')#003b64 no-repeat 12px 12px;
  display: inline-block;
  border-radius: 50%;
  -webkitborder-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
}
i.email{
    background: url('./../../images/email.png')#003b64 no-repeat 11px 11px;
}
i.phone{
    background: url('./../../images/phone.png')#003b64 no-repeat 12px 13px;
}
 .contactTop {
  padding: 1em 0;
}
.contGrid {
display: block;
  padding: 1px;
}
.map iframe {
  width: 100%;
  height: 400px;
  border:none;
}

/******** //SAP ************/
/*--address--*/
.address{
    background:#003b64;
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}
.addressLeft, .addressRight{
  background: #7CF9F9;
  padding: 17px 1px;
  margin: 4px;
  width: 98%;

}
.addressRight{
  background: #0685A5;

}
.addressLeft:after, .addressRight:after {
  content: "";
  position: absolute;
  height: 100%;
}
.addressLeft div, .addressRight div{
  padding: 3px 3px 0 3px;
} 
.address:after {
  content: "";
  display: table;
  clear:  both;
}

.addressLeft h3,.addressRight h3{
  color:#003b64;
  font-size: 2.4em;
  font-weight: 500;
  margin-bottom: 0.4em;
  margin-left: 1em;
  font-family: 'Arvo', serif;
}
.addressRight h3{
  color:#fff200;
}

.addressLeft ul li ,.addressRight ul li {
   display:block;
  font-size: 1.2em;
  font-weight: 400;
  text-decoration: none;
  margin: 1px 0;
}

.addressRight p{
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.7em;
}

.addressLeft ul  li a{
 list-style-type: none;
}
.addressRight ul  li a{
 list-style-type: none;
  color: #fff;

}
.addressLeft ul li a:hover{
  background-color: #0685A5;
  text-decoration: none;
  color:#003b64;
}
.addressRight ul li a:hover{
  background-color: #0685D5;
  text-decoration: none;
  color:#fff240;
}

/*----footer-------*/
.footer{
  width: 100%;
  margin-top: 30px;
  padding: 1em 0;
  background-color: #333;
}
.copy p{
  color:#fff;
  font-size:1em;
    text-align: center;
}
.copy p a{
    color: #fff200;
  font-size:1.1em;
}

/*-----Responsive-----*/

@media (max-width:1024px){
 
  .addressRight h3, .addressLeft h3 {
    font-size: 2em;
  }
 
  .addressLeft ul li ,.addressRight ul li {
    font-size: 1.1em;
  }

}
@media (max-width:768px){
  .contGridNew{
  display: block;
  width: 90%;
  float: left;
}
  
  .contactHead h3, .aboutHead h3, .memberHead h3,.galleryHead h3 {
    font-size: 2.2em;
  }
 
  .addressLeft , .addressRight {
    float: right;
    width: 96%;
    margin: 6px;
    padding: 2px;
  }
  .addressLeft  h3, .addressRight h3 {
    font-size: 1.8em;
  }
  .addressLeft ul li, .addressRight ul li {
    font-size: 0.9em;
    line-height: 0.8em;
    margin: 1px 0;

  }

    .iconText {
    float: none;
    width: 100%;
    margin-top: 0.8em;
  }
    .icon {
    width: 100%;
    margin-right: 1%;
    float: none;
  }
  
  
    .map {
    padding-top: 3em;
  }
  .map iframe {
    height: 300px;
    border: none;
  }
  .conText h4 {
    font-size: 0.9em;
  }
  .callbacks_tabs {
      bottom: 18%;
    left: 53%;
  }
 
}
@media (max-width:640px){
 

  .contactText {
    float: none;
    width: 100%;
  }
  .contactForm {
    float: none;
    width: 100%;
  }
  .conIcon {
    float: left;
    width: 15%;
    margin-right: 1%;
  }
  p.colMd8.news {
     width: 50%;
    float: left;
  }
 
  .contactHead p,.galleryHead p,.historyHead p ,.aboutHead p, .memberHead p,ul.tab_list li a ,.slideBottom-Grid p,.cultureGrids p ,.conText p{
    font-size: 0.8em;
    }
    .addressRight p {
    font-size: 0.8em;
  }
 
    
}



 .colMd4,  .colMd5,  .colMd7,  .colMd8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}


@media (min-width: 992px) {
  .colMd1, .colMd2, .colMd3, .colMd4, .colMd5, .colMd6, .colMd7, .colMd8, .colMd9, .colMd10, .colMd11, .colMd12 {
    float: left;
  }
  .colMd12 {
    width: 100%;
  }
  .colMd11 {
    width: 91%;
  }
  .colMd10 {
    width: 83%;
  }
  .colMd9 {
    width: 75%;
  }
  .colMd8 {
    width: 66%;
  }
  .colMd7 {
    width: 57%;
  }
  .colMd6 {
    width: 50%;
  }
  .colMd5 {
    width: 49%;
  }
  .colMd4 {
    width: 33%;
  }
  .colMd3 {
    width: 25%;
  }
  .colMd2 {
    width: 16%;
  }
  .colMd1 {
    width: 8%;
  }
 
}

.iconMail:before {
  content: "\ea83";
}
.clearfix {
  box-sizing: border-box;
}
